@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", serif;     
}

body {
   background-color: rgb(13, 15, 143);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
   background-position: center;
}

.container {
   width: 420px;
   background-color:rgb(13, 15, 143);
   border: 2px solid rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   color: #ffffff;
   padding: 30px 40px;
   box-shadow: 0 0 10px rgba(0, 0,0, .2);
}

.container h1{
   font-size: 36px;
   text-align: center;
}

.input-box{
   position: relative;
   width: 100%;
   height: 50px;
   margin: 30px 0;
}

.input-box input{
   width: 100%;
   height: 100%;
   background-color:black;
   border: none;
   border-radius: 40px;
   font-size: 16px;
   color: #ffffff;
   padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
   color: #ffffff;
}
.input-box i{
   position: absolute;
   right: 20px;
   top: 25%;
   transform: translate(-50%-50%);
   font-size: 20px;

}
   button{
      width: 100%;
      height: 35px;
      background-color: #ffffff;
      border:none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 0 0 10px rgba(0,0,0, .1);
  }
  
  .login:hover{
      background-color: transparent;
  }

  .register-Link{
   font-size: 14px;
   text-align: center;
   margin: 20px o 15px;
   color: #fff;
  }

  .register-Link a{
   text-decoration:none ;
   color: #fff;
   font-weight: 500;
  }
  
  .lembrar-senha label input{
   accent-color: #fff;
   margin-right: 5px;
  }
  .lembrar-senha a{
   text-decoration: none;
   color: #fff; 
   margin: -15px 0 15px;  
  }
  
  .lembrar-senha a:hover{
   text-decoration: underline;
  }

  .register-Link{
   font-size: 14px;
   text-align: center;
   margin: 20px 0 15px;
  }

  .register-Link a {
   text-decoration:none ; 
   color: #fff;
   font-weight: 500;
   
  }
  .register-Link a:hover{
   text-decoration: underline; 
   color: #fff;
  }

  a {
   color: rgb(255, 255, 255); 
   text-decoration: none; /* Remove o sublinhado, se necessário */
 }
 
 a:visited {
   color: rgb(235, 235, 235); /* Altere "black" para manter a cor desejada mesmo quando o link for visitado */
 }
 

  